*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: radial-gradient(circle at top right, rgba(244, 34, 234, 0.811), transparent 40%), radial-gradient(circle at center, #2e1065 0%, #000000 100%);
    color: white;
    height: 100vh;
    overflow: visible;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    padding: 20px 50px;
    background-color: black;
}
.mobile-menu-btn{
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.navlinks{
    display: flex;
    align-items: center;
}

.navlinks a{
    display: inline-block;
    color: #b1abab;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-left: 25px;
    transition: transform 0.2s;
}

.navlinks a:hover{
    color: white;
    transform: scale(1.1);
}

.divider{
    margin-left: 25px;
    color: #413f3f;
}

.main-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.container{
    display: flex;
    align-items: center;
    gap: 200px;
}

.left-part{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spotify-logo{
    width: 750px;
    height: 200px;
    margin-bottom: 40px;
}

.button{
    background: transparent;
    color: white;
    border: 2px solid #1ed760;
    border-radius: 50px;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 15px #1ed76099;
    transition: transform 0.2s, box-shadow 0.2s;
}
.button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #1ed76099;
}

.right-part{
    text-align: center;
}
.year{
        font-size: 160px;
        font-weight: 900;
        letter-spacing: -5px;
        background: linear-gradient(135deg, #bd5fff 0%, #4b91ff 50%, #29e9ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 0.8;
}
.wrapped{
    font-size: 70px;
    margin-top: -50px;
}

.right-part p{
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 10px;
    color: #e0d7d7;
}

/* For mobile */
@media (max-width: 480px){
    .navbar{
        padding: 20px;
    }
    .navlinks{
        display: none;
    }
    .mobile-menu-btn{
        display: block;
    }
    .container{
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }
    .spotify-logo{
        width: 300px;
        padding-bottom: 100px;
        padding-left: 50px;
    }
    .year{
        font-size: 100px;
        letter-spacing: -2px;
        padding-left: 35px;
    }
    .wrapped{
        font-size: 55px;
        margin-top: -20px;
        padding-left: 75px;
    }
    .main-section{
        justify-content: flex-start;
        padding-top: 50px;
    }
    .right-part p{
        padding-left: 50px;
    }
    .logo{
        height: 100px;
    }
    .left-part{
        gap: 30px;
    }
}
